.badge {
    padding: 0;
    height: 24px;
    border-radius: 10px;
    color: white;
}

.badge div {
    height: 100%;
    position: relative;
}

.badge div p {
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}
