.side-menu-container {
    width: 300px;
    height: 100%;
    background: #f8fafe;
    border-right: 1px solid #dfe3e8;
}

.side-menu-container ul.rc-menu {
    box-shadow: none;
    border: none;
    text-decoration: none;
}

.side-menu-container ul.rc-menu a {
    display: inline-block;
    width: 100%;
    color: rgb(102, 102, 102);
}
.side-menu-container .rc-menu-item-active:not(.rc-menu-item-selected) {
    background: transparent !important;
}

.side-menu-container .rc-menu-item-active a {
    color: #0093db !important;
    text-decoration: none;
}

.side-menu-container .rc-menu-item-selected {
    border-right: 5px solid #0093db;
    background: rgba(1, 146, 212, 0.1);
    color: #0093db;
}

.side-menu-container .rc-menu-item-selected a {
    color: #0093db !important;
}

.rc-menu-submenu-selected {
    background: transparent !important;
    color: #0093db !important;
}
